{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_task_list_index') }}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('app_task_list_show', {id: task_list.id}) }}">{{ task_list }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="list-group mb-md-4">
        {% for task in task_list.tasks %}
                <form action="{{ path('app_task_toggle', {id: task.id}) }}" method="post" class="d-grid p-0 list-group-item list-group-item-action">
                    <button type="submit" class="text-start btn btn-link{% if task.done %} text-decoration-line-through{% endif %}">
                        {{ task.content }}
                    </button>
                </form>
        {% endfor %}
    </div>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('app_task_list_edit', {id: task_list.id}) }}">Edit</a>
        </li>
    </ul>
{% endblock %}

{% block title %}
    {{ task_list.name }}
{% endblock %}

