{% extends 'base.html.twig' %}

{% block main_nav_items %}
    <ul>
        <li><a href="{{ path('app_task_list_edit', {id: task_list.id}) }}" role="button">Edit</a></li>
    </ul>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ path('app_task_list_index') }}">Home</a></li>
            <li><a href="{{ path('app_task_list_show', {id: task_list.id}) }}">{{ task_list }}</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div>
        {% for task in task_list.tasks %}
                <form action="{{ path('app_task_toggle', {id: task.id}) }}" method="post" class="task-form">
                    {% if task.done %}
                        <button type="submit" class="secondary">
                            <s>{{ task.content }}</s>
                        </button>
                    {% else %}
                        <button type="submit">
                            {{ task.content }}
                        </button>
                    {% endif %}
                </form>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ task_list.name }}
{% endblock %}

